menuentry "ArchCosta Linux" {
    linux   /boot/vmlinuz-linux-cachyos \
            root=LABEL=ARCHCOSTA rw quiet splash \
            loglevel=3 nowatchdog mitigations=off
    initrd  /boot/initramfs-linux-cachyos.img
}