menuentry "ArchCosta Linux" {
    linux   /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux-cachyos \
            root=LABEL=ARCHCOSTA_SPARK rw quiet splash \
            loglevel=3 nowatchdog mitigations=off
    initrd  /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux-cachyos.img
}