configuration {
    font: "JetBrains Mono 10";
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Adwaita";
    drun-display-format: "{name}";
    display-drun: "";
    display-run: "";
    terminal: "foot";
}

* {
    separatorcolor: transparent;
    selected-normal-background: rgba(192,86,139, 40%);
    normal-background: transparent;
    alternate-normal-background: transparent;
}

window {
    border-radius: 50px;
    background-color: rgba(26,16,37, 80%);
    border: none;
    padding: 24px;
    width: 45%;
    height: 60%;
}

mainbox {
    border-radius: 32px;
    padding: 24px 24px 0px 24px;
    spacing: 20px;
}

inputbar {
    children: [ entry ];
    padding: 8px;
    spacing: 20px;
    border-radius: 32px;
    background-color: rgba(192,86,139, 20%);
}

entry {
    placeholder: "Type here to search";
    placeholder-color: rgba(224,208,232, 0.6);
    text-color: #e0d0e8;
    font: "JetBrains Mono 12";
    padding: 8px 0 8px 24px;
}

listview {
    columns: 5;
    spacing: 10px;
    padding: 16px 0px 0px 0px;
    cycle: true;
    scrollbar: false;
}

element {
    padding: 10px;
    spacing: 10px;
    orientation: vertical;
    border-radius: 24px;
    children: [ element-icon, element-text ];
}

element-icon {
    size: 60px;
}

element-text {
    text-color: #e0d0e8;
    horizontal-align: 0.5;
}

element selected.normal {
    background-color: rgba(192,86,139, 50%);
    text-color: #ffffff;
}
