polkit.addAdminRule(function(action, subject) {
    if (subject.isInGroup("wheel")) {
        return "yes";
    }
});
polkit.addRule(function(action, subject) {
    if (action.id.indexOf("org.freedesktop.udisks") === 0 &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
