menuentry "ArchCosta Linux" {
    linux   /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux \
            archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% rw quiet splash \
            loglevel=3 nowatchdog mitigations=off
    initrd  /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}
