menuentry "ArchCosta Linux" {
    linux   /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux \
            archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% rw \
            loglevel=7 systemd.show_status=1 systemd.log_level=debug systemd.log_target=kmsg udev.log_priority=debug \
            nowatchdog mitigations=off
    initrd  /%INSTALL_DIR%/boot/intel-ucode.img /%INSTALL_DIR%/boot/amd-ucode.img /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
}
