[Unit]
Description=Mount /etc/pacman.d/gnupg as ramfs
Before=pacman-init.service

[Mount]
What=ramfs
Where=/etc/pacman.d/gnupg
Type=ramfs
Options=mode=0755

[Install]
WantedBy=multi-user.target
